<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body style="background-color: #ededed;height: 100vh;">
<div th:replace="fragments/header" style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;height: 100%;">

    <div class="row col-lg-12 col-lg-offset-9" style="margin: 40px 0px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <h1 style="width: 100%">Books to display</h1>
        <table id="myTable" class="display" style="width: 100%">
            <thead>
            <tr>
                <th>Buch Titel</th>
                <th>Buch Veröffentlichungs Datum</th>
                <th>Buch Preis</th>
                <th>Authors</th>
                <th>Cover</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:value="${book.name}" th:text="${book.name}"> </td>
                <td th:value="${book.publishedDate}" th:text="${book.publishedDate}"> </td>
                <td th:value="${book.price}" th:text="${book.price}+' €'"></td>

                <td th:each="author : ${book.bookAuthors}" th:text="${author.getFirstName()+' '+ author.getLastName()}"> </td>
                <td th:value="${book.bookCover}" th:text="${book.bookCover}"> </td>
                <td>
                    <form role="form" method="POST" th:action="@{'/shoppingcart'(bookId=${book.getBook_id()})}">
                        <button type="submit" class="btn btn-primary">Add to cart</button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{'/books/deleteBook'(bookId=${book.getBook_id()})}" th:method="delete">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
            });
        } );
        /*<![CDATA[*/

        /*[+


        +]*/
        /*]]>*/
    </script>
</body>
</html>


